@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
.footer {
  position: relative; /* Ensures it stays at the bottom when content is short */
  width: 100%;

  z-index: 200;
  background-color: #222; /* Dark background */
}
.footer-text{
  color:#828282;
  font-style: normal;
  font-weight: 500;
  font-size:medium;

}
.footer-text:hover{
  color:#ffffff;
  font-style: normal;
  font-weight: 400;
  font-size:medium;
 
}
.footer-header {
  color: #ffffff;
  font-weight: 500;
 
  
  font-size:x-large;
 
}
.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #373737;  
  z-index: 1000;
}
.header {
  color: #333533;;
  font-style: normal;
  font-weight: 800;
  
  
}
.nav-header {
  color: #ffffff;
 
  
  font-size:larger;

 
}
.nav-bar-text {
  color: #AAAAAA;
 
  
  font-size:large;
  font-weight: 600;
 
  transition: color 0.3s ease; /* Smooth transition effect */
}

.nav-bar-text:hover {
  color: white;
}
.event-description{
  color:#797979;
  font-size:medium;
  
  font-weight: 500;
 

}
.marathon-detail-card{
  color:#333533;
  font-size:smaller;
  font-style: normal;
  font-weight: 600;
  

}
.marathon-detail-fac{
  color:#333533;
  font-size:smaller;
  font-style: normal;
  font-weight: 600;
  

}
.event-title{
  color: #333533;;
  font-style: normal;
  font-weight: 800;

  font-size:xx-large;

}
.form-label{
  color: #333533;;
  font-style: normal;
  font-weight: 700;
  
}

.description{
  color:#797979;
  font-size:smaller;
  font-style: normal;
  font-weight: 500;

}
.toggle-option{
  color: #333533;;
  font-style: normal;
  font-weight: 400;

  
}

