@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "ZawyaPro";
  src: local("ZawyaPro"),
    /* Update the URL to point to an existing font file */
    url("/fonts/ZawyaPro-CondensedNormal.woff") format("woff");
  /* You might also want to adjust font-weight if 'NormalBlack' implies a different weight */
  font-weight: normal;
  /* Or perhaps 900 or 'black' depending on the font */
}
@font-face {
  font-family: "Organetto";
  src: local("Organetto"),
    /* Update the URL to point to an existing font file */
    url("/fonts/Organetto.otf") format("opentype");
  /* You might also want to adjust font-weight if 'NormalBlack' implies a different weight */
  font-weight: normal;
  /* Or perhaps 900 or 'black' depending on the font */
}

.footer {
  position: relative;
  /* Ensures it stays at the bottom when content is short */
  width: 100%;

  z-index: 200;
  background-color: #222;
  /* Dark background */
}

.footer-text {
  color: #828282;
  font-style: normal;
  font-weight: 500;
  font-size: medium;

}

.footer-text:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: medium;

}

.footer-header {
  color: #ffffff;
  font-weight: 500;


  font-size: x-large;

}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #373737;
  z-index: 1000;
}

.header {
  color: #333533;
  ;
  font-style: normal;
  font-weight: 800;


}

.nav-header {
  color: #ffffff;


  font-size: larger;


}

.nav-bar-text {
  color: #AAAAAA;


  font-size: large;
  font-weight: 600;

  transition: color 0.3s ease;
  /* Smooth transition effect */
}

.nav-bar-text:hover {
  color: white;
}

.event-description {
  color: #797979;
  font-size: medium;

  font-weight: 500;


}

.marathon-detail-card {
  color: #333533;
  font-size: smaller;
  font-style: normal;



}

.marathon-detail-fac {
  color: #333533;
  font-size: smaller;
  font-style: normal;
}

.event-title {
  color: #333533;
  ;
  font-style: normal;
  font-size: xx-large;

}

.form-label {
  color: #333533;
  ;
  font-style: normal;
  font-weight: 700;

}

.description {
  color: #797979;
  font-size: smaller;
  font-style: normal;
}

.toggle-option {
  color: #333533;
  ;
  font-style: normal;
}


.image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10;

}


.runner-image {
  width: 100%;
  height: auto;
}

#header {
  
  position: relative;
  display: grid;
  place-content: center;
  height: 100vh;
  background: #C7F95B;
}

#main-text {
  font-size: 4rem;
  text-transform: uppercase;
  color: #2B2B2B;
  font-family: 'Organetto';
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}

.circle-wrapper {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 5px;
  height: 5px;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-custom {
  animation: spin 1s linear infinite;
}