@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ZawyaPro";
  src: local("ZawyaPro"),
    url("/fonts/ZawyaPro-CondensedNormal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-custom {
  animation: spin 1s linear infinite;
}

