@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ZawyaPro";
  src: local("ZawyaPro"),
    url("/fonts/ZawyaPro-CondensedNormal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



